
<form asp-action = "Index">
    <label>Nhập chuỗi:</label>
    <input type="text" name="strInput" placeholder="Nhập chuỗi vào">
    <button type="submit">Xử lý chuỗi</button>
</form>
<h2>@ViewBag.thongTin</h2>